@import "../bem/bem.scss";

@include b("section-layout") {
  width: 600px;
  margin: auto;
  height: 100%;

  display: grid;
  grid-template-rows: auto 1fr;
  grid-auto-columns: 100%;

  &__header {
    padding-bottom: 1rem;
  }

  &__body {
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
